.nav{
    margin-top: 50px;
    margin-bottom: 50px;
}
#loginbutton{
    margin-top: 30px;
    margin-bottom: 30px;
}
.mycontainer{
    display:flex ;
    justify-content: space-around;
    flex-direction: row;
    text-align: center;
    overflow: auto;
    padding: 10px 10px;
}
#addcourse{
    display: flex;
    align-items: center;
    justify-content: center;
}