.nav{
    margin-top: 50px;
    margin-bottom: 50px;
}
#loginbutton{
    margin-top: 30px;
    margin-bottom: 30px;
}

style="position: absolute; top: 2rem; right:2.5rem "

<div class="bottomlinks" style="margin-top: 50px;">

id="table1" style="margin-top: 100px;"
"margin-top: 100px; margin-left: 100px; margin-right: 100px; "